*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: black;
}

main {
  height: calc(100vh - 190px);
  background-color: black;
  overflow: auto;
}

/* levo 
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
*/
.box {

  width: 60px;
  height: 40px;
  background-color: rgba(0,0,0,.5);
  margin: 0;
  padding-top: 20px;
  border: 1px solid black;
  font-size: 10px;
  padding: 10px;
  margin: 3px;
 
}



.image {
margin: 5px;
}
.menubottom {
  display: flex;
  justify-content: space-between;
   height: 100px;
  background-color: lightblue;
}

.menutop {
  height: 70px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display: inline-block;
  width: calc(100% / 7);
  min-width: 250px;
  cursor: pointer;
  background-color: black;
}

main img {
  width: 100%;

  object-fit: cover;
}

.card .nome {
  position: absolute;
  padding: 3px 3px;
  background-color: rgba(0,0,0,.5);
  color: white;
  bottom: 2px;
  left: 2px;
  font-weight: 400;
}

/* FOTTER */

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}

.icona {
  color: white;
}

.menubottom li {
  color: white;
}

#meet {
  color: red;
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,.5);
  margin: 0;
  padding-top: 20px;
}

footer {
  padding-top: 20px;
}

ul li {
  padding-top: 25px;
}